form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  max-width: 500px;
  margin: 0 auto;
  font-size: 2vw;
  padding: 2vw;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  text-align: left;
}

input {
  padding: 1vw;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 1vw;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1vw 2vw;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: 1vw;
}

button:hover {
  background-color: #0069d9;
}

/* Small screens */
@media screen and (max-width: 600px) {
  form {
    font-size: 3vw;
  }

  label {
    text-align: center;
  }

  input {
    margin-left: 0;
  }

  button {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra small screens */
@media screen and (max-width: 400px) {
  form {
    font-size: 4vw;
  }

  label {
    font-size: 1.5rem;
  }
}
